# Logs
logs
*.log

# Variables d'environnement
.env
.env.*
!.env.example

# Dependances
node_modules

# Build
dist
dist-ssr

# Tests
coverage
junit.xml

# IDE
.vscode/*
!.vscode/extensions.json
.idea
